name: Build
on: [release]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B clean package

      - name: Rename JAR
        run: |
          cp target/l2gen-1.0-SNAPSHOT-jar-with-dependencies.jar Geometry.jar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Geometry
          path: Geometry.jar